<div class="wrapper" style="padding-top:1.5%;">
  <div class="container" style="background:#eaebf0;">
    <h3> AppAsia Cloud Sdn Bhd
      <a style="font-size:14px;">
        <i> client search</i>
      </a>
    </h3>
    <div class="row">
      <div class="sri">
        <div class="col-md-12 col-sm-12  col-xs-12">
          <label>1</label>
          <h2>Client Profile</h2>
          <br>
        </div>
        <p>company name
          <a>
            <i>modify</i>
          </a>
        </p>
        <span>AppAsia Cloud Sdn Bhd</span>
        <br>
        <br>
        <p>Lead Auditor
          <a>
            <i>modify/share</i>
          </a>
        </p>
        <span>Raur Kumar, UHY KL</span>
      </div>
      <div class="sri">
        <div class="col-md-12  col-sm-12 col-xs-12">
          <label>2</label>
          <h2>bank accounts</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>Mybank</span>
            <span style="float:right;color:#000">1</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>HSBC</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>Public Bank</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>OCBE</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>CIMB</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>RHB</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>Bank Rakyat</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="form-control">
            <span>AmBank</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 six2">
          <br>
          <br>
          <center>
            <button type="button" class="btn btn-danger ">Add </button>
            <a>
              <i>show all</i>
            </a>
          </center>
        </div>
      </div>
      <div class="sri">
        <div class="col-md-12  col-sm-12 col-xs-12">
          <label>3</label>
          <h2>client authorization</h2>
        </div>

        <p>Received (1)</p>
        <span>Ong Chee Meng</span>
        <br>
        <br>
        <p>Pending (1)</p>
        <span>Abdul Muhamm.. </span>
        <a style="float:right;color:red;margin-right:10%;">
          <i>send request</i>
        </a>
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <center>
            <button type="button" class="btn btn-danger" style="margin-top:10px;">View All </button>
          </center>
        </div>

      </div>
      <div class="sri">
        <div class="col-md-12 col-sm-12  col-xs-12">
          <label>4</label>
          <h2>request confirmation</h2>
        </div>
        <div class="col-md-12 six3">
          <br>
          <br>
          <br>
          <center>
            <button type="button" class="btn btn-danger " style="margin-top:10px;">Start Request </button>
          </center>
        </div>
      </div>
      <div class="sri">
        <div class="col-md-12  col-sm-12 col-xs-12">
          <label>5</label>
          <h2>confirmation status</h2>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12 six">
          <div class="form-control">
            <span>Pending</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="form-control">
            <span>Receved</span>
            <span style="float:right;color:#000">1</span>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="form-control">
            <span>Denied</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="form-control">
            <span>Request More Info</span>
            <span style="float:right;color:#000">1</span>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="form-control">
            <span>Reconfirmation</span>
            <span style="float:right;color:#000">1</span>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="form-control">
            <span>Completed</span>
            <span style="float:right;color:#000">0</span>
          </div>
        </div>
      </div>
      <div class="sri">
        <div class="col-md-12  col-sm-12 col-xs-12">
          <label>6</label>
          <h2>download</h2>
        </div>
        <div class="col-md-12">
          <br>
          <p>1
            <span>29/09/2017 </span>
            <a style="color:red">MybankHeadQuaters.pdf</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>