<div class="container middle-portion">
  <div class="title"> AppAsia Cloud Sdn Bhd <a class="client-search">client search</a></div>
  <div class="row">
    <div class="sri-2">
      <div class="col-md-12 col-sm-12  col-xs-12 sri-2-margin-btn">
        <label>1</label>
        <h2>Client Profile</h2>
        <div class="clear"></div>
      </div>
      <div class="sri-2-part-section">
        <p>company name <a href="#" class="client-search">modify</a></p>
        <span class="sri-2-part-section-light">AppAsia Cloud Sdn Bhd</span>
      </div>
      <div class="sri-2-part-section">
        <p>Lead Auditor <a href="#" class="client-search">modify/share</a></p>
        <span class="sri-2-part-section-light">Raur Kumar, UHY KL</span>
      </div>
    </div>
    <div class="sri-2">
      <div class="col-md-12  col-sm-12 col-xs-12 sri-2-margin-btn">
        <label>2</label>
        <h2>bank accounts</h2>
        <div class="clear"></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-1">
        <div class="form-control"><span class="gotham-light">Mybank</span> <span class="number-font">1</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-2">
        <div class="form-control"><span class="gotham-light">CIMB</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-1">
        <div class="form-control"><span class="gotham-light">HSBC</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-2">
        <div class="form-control"><span class="gotham-light">RHB</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-1">
        <div class="form-control"><span class="gotham-light">Public Bank</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-2">
        <div class="form-control"><span class="gotham-light">Bank Rakyat</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-1">
        <div class="form-control"><span class="gotham-light">OCBE</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-sec-2">
        <div class="form-control"><span class="gotham-light">AmBank</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-12 col-sm-12 six2-2">
        <center><button type="button" class="btn btn-danger ">Add </button> <a href="" class="client-search">show all</a></center>
      </div>
    </div>
    <div class="sri-2">
      <div class="col-md-12  col-sm-12 col-xs-12 sri-2-margin-btn">
        <label>3</label>
        <h2>client authorization</h2>
      </div>
      <div class="sri-2-part-section1">
        <p>Received (1)</p>
        <span class="sri-2-part-section-light">Ong Chee Meng</span>
      </div>
      <div class="sri-2-part-section1">
        <p>Pending (1)</p>
        <span class="sri-2-part-section-light">Abdul Muhamm.. </span> <a href="" class="send-rqs">send request</a>
      </div>
      <div class="col-md-12">
        <center><button type="button" class="btn btn-danger" style="margin-top:10px;">View All </button> </center>
      </div>

    </div>
    <div class="sri-2">
      <div class="col-md-12 col-sm-12  col-xs-12 sri-2-margin-btn">
        <label>4</label>
        <h2>request confirmation</h2>
      </div>
      <div class="col-md-12 six3-2">
        <center><button type="button" class="btn btn-danger " style="margin-top:10px;">Start Request </button> </center>
      </div>
    </div>
    <div class="sri-2">
      <div class="col-md-12  col-sm-12 col-xs-12"> <label>5</label>
        <h2>confirmation status</h2>
      </div>
      <div class="col-md-8 margin-left-5 col-sm-12 six-2 margin-btm-5">
        <div class="form-control"><span class="gotham-light">Pending</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-8 margin-left-5 col-sm-12 margin-btm-5">
        <div class="form-control"><span class="gotham-light">Receved</span> <span class="number-font">1</span></div>
      </div>
      <div class="col-md-8 margin-left-5 col-sm-12 margin-btm-5">
        <div class="form-control"><span class="gotham-light">Denied</span> <span class="number-font">0</span></div>
      </div>
      <div class="col-md-8 margin-left-5 col-sm-12 margin-btm-5">
        <div class="form-control"><span class="gotham-light">Request More Info</span> <span class="number-font">1</span></div>
      </div>
      <div class="col-md-8 margin-left-5 col-sm-12 margin-btm-5">
        <div class="form-control"><span class="gotham-light">Reconfirmation</span> <span class="number-font">1</span></div>
      </div>
      <div class="col-md-8 margin-left-5 col-sm-12 margin-btm-5">
        <div class="form-control"><span class="gotham-light">Completed</span> <span class="number-font">0</span></div>
      </div>
    </div>
    <div class="sri-2">
      <div class="col-md-12  col-sm-12 col-xs-12 sri-2-margin-btn"><label>6</label>
        <h2>download</h2>
      </div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 margin-mobile">
        <div class="braket" style="height:50px;text-align:center">
          <span class="gotham-light">  once completed confirmations. can be downloaded </span>
        </div>
      </div>
    </div>
  </div>
</div>