<div class="header-fixed header-fixed-space-default wrapper">
  <!--=== Header ===-->
  <div class="header-v1 header header-sticky">
    <!-- Topbar -->
    <div class="topbar-v1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <ul class="list-inline top-v1-data pull-right">
              <li class="bor">
                <a>Hi, Srikanth</a>
              </li>
              <li>
                <a href="#">USER PROFILE</a>
              </li>
              <li>
                <a href="#">NEED HELP ?</a>
              </li>
              <li class="bor">
                <a href="#">LOGOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Topbar -->
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation" style="margin-bottom:0px;">
      <div class="container">
        <h1 class="col-md-3  col-sm-12 col-xs-12" href="index.php">
          Platform
        </h1>
      </div>
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-left">
            <li class="active" id="dashboard">
              <a href="index.php">DASHBOARD</a>
            </li>
            <li id="clientInformation">
              <a href="#">CLIENT INFORMATION</a>
            </li>
          </ul>
        </div>
        <!--/navbar-collapse-->
      </div>
    </div>
    <!-- End Navbar -->
  </div>
</div>