.mainpart{height: 700px;overflow: auto;}
.panel-info>.panel-heading {
  color: #FFF;
  background-color: #405fac;;
  border-color: #000;
}
.panel-info {
  border-color: #000;
}
.panel-info p, b{
  font-size: 14px;
}
.pch{ margin: 0px;color: #767474;}
.pch1 { margin-top:-15px!important;}
.btn{border-radius: 0px; background: #ff1010; padding-bottom: 3px; font-size: 18px;margin:5px 3%; text-transform: uppercase;}
@media all and (min-width: 320px) and (max-width: 767px) {
  .panel-info p, b{
  font-size: 14px;
  }
}
img {
vertical-align: middle;
margin-left: 0.5% !important;
margin-top: -2px !important;
width: 30px  !important;;
}
@media (max-width: 375px){
.panel-body{padding: 0px !important;}
}

.mybank{margin-bottom: 10px;}
.letter{

width: 95%;
margin: 10px auto;
background: rebeccapurple;

}
.header-v1 .topbar-v1 .top-v1-data li {
border-right: solid 0px #000;
}