<div class="container">
  <div class="col-sm-12">
    <div class="panel-group panel-info6-7">
      <div class="panel panel-blue">
        <div class="panel-heading1">Request Signer's Authorization</div>
        <div class="panel-body">
          <form class="form-horizontal rqst-sign">
            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">Auditor</label>
              <div class="col-sm-9 col-xs-12">
                <p class="form-control-static">Raur Kumar, UHY Malaysia</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">Company</label>
              <div class="col-sm-9 col-xs-12">
                <p class="form-control-static">AppAsia Cloud Sdn Bhd</p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">Bank Info</label>
              <div class="col-sm-9 col-xs-12">
                <p class="form-control-static"> Maybank - Headquarters</p>
                <p class="sub-para">sdfsdfsdf sdfdsf jojklsdf sdfsdf sdfsdfsdf o dsfdsfsdfsdf jhiohlkk </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">Signers</label>
              <div class="col-sm-9 col-xs-12">
                <p class="form-control-static">Abdual Muhammad Bin Khadil</p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">NRIC Number
                <span style="color: red">*</span>
              </label>
              <div class="col-sm-3 col-xs-12">
                <input type="text" class="form-control" id="usr" value="123456">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">Mobile Number
                <span class="required">*</span>
              </label>
              <div class="col-sm-1 col-xs-4">
                <select class="form-control" id="sel1" style="width: 66px;">
                  <option>+06</option>
                </select>
              </div>
              <div class="col-sm-2 col-xs-8">
                <input type="text" class="form-control" value="964857152658">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 col-xs-12">Authorisation Method
                <span class="tooltip-6">
                  <a href="" data-tooltip="I'm the tooltip text.">?</a>
                </span>
              </label>

              <div class="col-sm-9 col-xs-12">
                <div class="checkbox">
                  <input type="radio" name="optradio"> Email & SMS
                </div>
                <div class="checkbox">
                  <input type="radio" name="optradio"> IVR Call
                </div>
              </div>
            </div>
          </form>
          <hr>
          <div class="col-sm-12" style="text-align: center;">
            <a href="" class="font-gothum-book margin-right-6">[back]</a>
            <button type="button" class="btn btn-danger">SEND REQUEST</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
